<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>DevRapido</title>

    <!-- CSS -->
    <link href="../static/css/style.css" rel="stylesheet" />

    <!-- Template Bootstrap (CSS/Icons) -->
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/startbootstrap-sb-admin-2@4.1.4/css/sb-admin-2.min.css"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css"
    />

    <style>
      @media (max-width: 992px) {
        .navbar-collapse {
          position: absolute;
          top: 60px; /* altura da navbar */
          left: 0;
          width: 100%;
          padding: 1rem;
          z-index: 999;
          border-bottom: 1px solid #e3e6f0;
        }
      }
    </style>
  </head>

  <body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content" >
          <!-- Topbar -->
          <!-- Aqui é a nav onde há linkagens (parte da esquerda)-->

          <nav
            class="navbar navbar-expand-lg navbar-light topbar mb-4 static-top shadow bright-blue-bg"
          >
            <a class="navbar-brand text-white" href="#">Dev Rapido</a>

            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#menuSandwitch"
              aria-controls="menuSandwitch"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="menuSandwitch">
              <ul class="navbar-nav mr-auto">
                

                <li class="nav-item">
                  <a class="nav-link text-white" href="criar-aula-exemplo.html">
                    <i class="fas fa-fw fa-cog mr-1"></i>
                    Criar aulas
                  </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link text-white" href="listagem-aulas.html">
                    <i class="fas fa-fw fa-wrench mr-1"></i>
                    Listar aulas
                  </a>
                </li>
              </ul>

              <div class="d-lg-none mt-3">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item dropdown">
                    <a
                      class="dropdown-toggle text-dark"
                      role="button"
                      data-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <i class="fa fa-user mr-1" style="padding-left: 16px"></i>
                      Perfil
                    </a>

                    <div class="dropdown-menu shadow">
                      <a class="dropdown-item" href="#">
                        <i
                          class="fa-solid fa-circle-user fa-md fa-fw mr-2 text-gray-400"
                        ></i>
                        Minha conta
                      </a>

                      <a class="dropdown-item" href="#">
                        <i
                          class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"
                        ></i>
                        Relatório
                      </a>

                      <a
                        class="dropdown-item"
                        href="#"
                        data-toggle="modal"
                        data-target="#logoutModal"
                      >
                        <i
                          class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"
                        ></i>
                        Sair
                      </a>
                    </div>
                  </li>
                </ul>
              </div>

              <!-- Esse nav é do profile-->
              <div class="d-none d-lg-block">
                <ul class="navbar-nav">
                  <!-- Nav Item - Alerts -->
                  <li class="nav-item dropdown no-arrow mx-1">
                    <a
                      class="nav-link dropdown-toggle"
                      href="#"
                      id="alertsDropdown"
                      role="button"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      <i class="fas fa-bell fa-fw"></i>
                      <!-- Counter - Alerts -->
                      <span class="badge badge-danger badge-counter">1</span>
                    </a>
                    <!-- Dropdown - Alerts -->
                    <div
                      class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                      aria-labelledby="alertsDropdown"
                    >
                      <h6 class="dropdown-header">Notificações</h6>
                      <a
                        class="dropdown-item d-flex align-items-center"
                        href="#"
                      >
                        <div class="mr-3">
                          <div class="icon-circle bg-primary">
                            <i class="fas fa-file-alt text-white"></i>
                          </div>
                        </div>
                        <div>
                          <div class="small text-gray-500">
                            Dezembro 12, 2025
                          </div>
                          <span class="font-weight-bold"
                            >Aula para o dia 12 está perto de acontecer, se
                            organize!</span
                          >
                        </div>
                      </a>
                      <a
                        class="dropdown-item text-center small text-gray-500"
                        href="#"
                        >Mostrar todas as notificações</a
                      >
                    </div>
                  </li>

                  <!-- Nav Item - Messages -->
                  <li class="nav-item dropdown no-arrow mx-1">
                    <a
                      class="nav-link dropdown-toggle"
                      href="#"
                      id="messagesDropdown"
                      role="button"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      <i class="fas fa-envelope fa-fw"></i>
                      <!-- Counter - Messages -->
                      <span class="badge badge-danger badge-counter">1</span>
                    </a>
                    <!-- Dropdown - Messages -->
                    <div
                      class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                      aria-labelledby="messagesDropdown"
                    >
                      <h6 class="dropdown-header">Mensagens</h6>
                      <a
                        class="dropdown-item d-flex align-items-center"
                        href="#"
                      >
                        <div class="dropdown-list-image mr-3">
                          <img
                            class="rounded-circle"
                            src="../static/assets/undraw_profile.svg"
                            alt="..."
                          />
                          <div class="status-indicator bg-success"></div>
                        </div>
                        <div class="font-weight-bold">
                          <div class="text-truncate">
                            Bom dia professor! Quero que o senhor reveja minhas
                            questões da aula anterior, por favor!
                          </div>
                          <div class="small text-gray-500">
                            Jonas Sousa · 3 hr
                          </div>
                        </div>
                      </a>
                      <a
                        class="dropdown-item text-center small text-gray-500"
                        href="#"
                      >
                        Ler mais mensagens
                      </a>
                    </div>
                  </li>

                  <!-- Nav Item - User Information -->
                  <li class="nav-item dropdown no-arrow">
                    <a
                      class="nav-link dropdown-toggle"
                      href="#"
                      id="userDropdown"
                      role="button"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      <span class="mr-2 d-none d-lg-inline text-white small "
                        >Usuario Professor</span
                      >
                      <img
                        class="img-profile rounded-circle"
                        src="../static/assets/undraw_profile.svg"
                      />
                    </a>
                    <!-- Dropdown - User Information -->
                    <div
                      class="dropdown-menu dropdown-menu-right shadow animated--grow-in bg-dark"
                      aria-labelledby="userDropdown"
                    >
                      <a class="dropdown-item" href="#">
                        <i
                          class="fas fa-user fa-sm fa-fw mr-2 text-black-400"
                        ></i>
                        Perfil
                      </a>
                      <a class="dropdown-item" href="#">
                        <i
                          class="fas fa-list fa-sm fa-fw mr-2 text-black-400"
                        ></i>
                        Relatório
                      </a>
                      <a
                        class="dropdown-item"
                        href="#"
                        data-toggle="modal"
                        data-target="#logoutModal"
                      >
                        <i
                          class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-black-400"
                        ></i>
                        Sair
                      </a>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
          <!-- End of Topbar -->

          <!-- Begin Page Content -->
          <!-- Main-->
          <div class="container-fluid">
            <!-- Page Heading -->
            <div class="mb-4">
              <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
            </div>

            <div class="row">
              <div class="col-xl-6 col-md-6 mb-3">
                <div class="card border-left-primary shadow h-100 py-2">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div
                          class="text-xs font-weight-bold text-primary text-uppercase mb-1"
                        >
                          Totais de aulas
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                          24
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-6 col-md-6 mb-3">
                <div class="card border-left-danger shadow h-100 py-2">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div
                          class="text-xs font-weight-bold text-danger text-uppercase mb-1"
                        >
                          Código da Sala ativa
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                          # 000020
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6 col-lg-6 col-xs-12 mb-3">
                <div class="card">
                  <div class="card-body shadow">
                    <p class="text-uppercase font-weight-bold">Aulas realizadas</p>
                    <div class="form-group mb-3">
                      <input
                        type="text"
                        class="form-control form-control-sm"
                        id="searchInput"
                        placeholder="Pesquisar..."
                      />
                    </div>

                    <div class="table-responsive m" style="max-height: 400px">
                      <table class="table table-striped" id="table-realizadas">
                        <thead>
                          <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Disciplinas</th>
                            <th scope="col">Curso</th>
                            <th scope="col">Data</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>Lógica de Programação</td>
                            <td>Informática p/ internet</td>
                            <td>20/03/2020</td>
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td>Engenharia de Software</td>
                            <td>Informática p/ internet</td>
                            <td>12/03/2020</td>
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td>POO</td>
                            <td>Informática p/ internet</td>
                            <td>04/04/2021</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-md-6 mb-3">
                <div class="card">
                  <div class="card-body shadow">
                    <ul class="list-group">
                      <li class="list-group-item"><i class="bi bi-circle-fill text-success"></i> Aula ativa</li>
                      <li class="list-group-item">Código: 1552</li>
                      <li class="list-group-item">27 alunos conectados</li>
                      <li class="list-group-item">Última pergunta respondida: Q3</li>
                      <button class="list-group-item btn-primary active">Encerrar aula</button>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="col-md-6 col-xs-12 mb-3">
                <div class="card">
                  <div class="card-body shadow">
                    <div class="table-responsive m" style="max-height: 400px">
                        <p class="text-uppercase font-weight-bold">Ultimas aulas criadas</p>
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Disciplinas</th>
                            <th scope="col">Curso</th>
                            <th scope="col">Data</th>
                            <th scope="col">Apresentar</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">12</th>
                            <td>Desenvolvimento Web II</td>
                            <td>Informática p/ internet</td>
                            <td>08/12/2025</td>
                            <td class="text-center"><a href="presentation_professor.html"><i class="fas fa-play"></i></a></td>
                          </tr>
                          <tr>
                            <th scope="row">18</th>
                            <td>Engenharia de Software</td>
                            <td>Informática p/ internet</td>
                            <td>09/12/2025</td>
                            <td class="text-center"><a href="presentation_professor.html"><i class="fas fa-play"></i></a></td>
                          </tr>
                          <tr>
                            <th scope="row">29</th>
                            <td>Banco de Dados</td>
                            <td>Informática p/ internet</td>
                            <td>06/12/2025</td>
                            <td class="text-center"><a href="presentation_professor.html"><i class="fas fa-play"></i></a></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6 col-xs-12">
                <div class="card">
                  <div class="card-body">
                    <p class="text-uppercase font-weight-bold">Coleções</p>
                    <div class="form-group mb-3">
                      <input
                        type="text"
                        class="form-control form-control-sm"
                        id="inputSearch"
                        placeholder="Pesquisar..."
                      />
                    </div>
                    <div class="table-responsive m" style="max-height: 400px">
                      <table class="table table-striped" id="table-collection">
                        <thead>
                          <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Coleção</th>
                            <th scope="col">Qtd de Aulas</th>
                            <th scope="col">Data de Criação</th>
                            <th scope="col">Listar</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">12</th>
                            <td>Desenvolvimento Web II</td>
                            <td>4</td>
                            <td>08/12/2025</td>
                            <td class="text-center"><a href="./listagem-aulas.html"><i class="bi bi-collection"></i></a></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright &copy; Dev Rapido 2025</span>
            </div>
          </div>
        </footer>
        <!-- End of Footer -->
      </div>
      <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div
      class="modal fade"
      id="logoutModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              Deseja mesmo sair?
            </h5>
            <button
              class="close"
              type="button"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            Selecione "Sair" abaixo se estiver pronto para encerrar sua sessão
            atual.
          </div>
          <div class="modal-footer">
            <button
              class="btn btn-secondary"
              type="button"
              data-dismiss="modal"
            >
              Cancelar
            </button>
            <a class="btn btn-primary" href="login.html">Sair</a>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/startbootstrap-sb-admin-2@4.1.4/js/sb-admin-2.min.js"></script>

    <script defer src="../static/js/dashboard.js"></script>
  </body>
</html>
