<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes da Aula</title>


    <!-- CSS -->
    <link href="../static/css/style.css" rel="stylesheet" />


    <!-- Template Bootstrap (CSS/Icons) -->
    <link href="https://cdn.jsdelivr.net/npm/startbootstrap-sb-admin-2@4.1.4/css/sb-admin-2.min.css" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css"  rel="stylesheet"/>

    <!-- Custom styles for this page -->
    <link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
 

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />
    
    <style>

        .tabela_participantes{

            width: 700px;
            max-width: 700px; /* Largura máxima que o elemento pode atingir */
            width: 100%;     /* Ocupa 100% da largura do pai, a menos que atinja max-width */
            margin: 0 auto;  /* Centraliza o bloco na página (opcional, mas comum) */
            
            /* Outros estilos visuais para demonstração */
            padding: 20px;
            box-sizing: border-box; /* Garante que padding e border sejam incluídos na largura total */
        }


  
        .tabela_questoes{


            width: 900px;
            max-width: 900px; /* Largura máxima que o elemento pode atingir */
            width: 100%;     /* Ocupa 100% da largura do pai, a menos que atinja max-width */
            margin: 0 auto;  /* Centraliza o bloco na página (opcional, mas comum) */
            
            /* Outros estilos visuais para demonstração */
            padding: 20px;
            box-sizing: border-box; /* Garante que padding e border sejam incluídos na largura total */

        }

        .botoes_ver_editar{
            width: 90px;
            max-width: 90px; /* Largura máxima que o elemento pode atingir */
            
            padding: 2px;
            padding-right: 2px;
            padding-left: 2px;
            box-sizing: border-box; /* Garante que padding e border sejam incluídos na largura total */

        }
    
    </style>
</head>

<!--IMPORTANTE________________________________________________________falta fazer botoes de açoes para professor:
Um professor sempre quer ver isso.

 5. Ações que o professor pode fazer
Botões no topo, tipo:
Reutilizar aula
Editar aula
Excluir aula
Exportar relatório (opcional)
Ver como o aluno vê

6. Seções opcionais (pode deixar para depois)
Log de atividades (quem entrou, quem saiu, quando enviaram)
Comentários enviados pelos alunos
Estatísticas por exercício (gráficos)
Nada disso é obrigatório, mas enriquece se você tiver tempo.-->


<body>

    <div id="wrapper">     
        <!-- Conteudo da pagina -->
        <div class="container-fluid">
        <nav
            class="navbar navbar-expand-lg navbar-light topbar mb-4 static-top shadow"
          >
            <a class="navbar-brand text-primary" href="#">Dev Rapido</a>

            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#menuSandwitch"
              aria-controls="menuSandwitch"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="menuSandwitch">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link text-dark" href="./dashboard.html">
                    <i class="fas fa-fw fa-tachometer-alt mr-1"></i>
                    Dashboard
                  </a>
                </li>
              </ul>

              <div class="d-lg-none mt-3">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item dropdown">
                    <a
                      class="dropdown-toggle text-dark"
                      role="button"
                      data-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <i class="fa fa-user mr-1" style="padding-left: 16px"></i>
                      Perfil
                    </a>

                    <div class="dropdown-menu shadow">
                      <a class="dropdown-item" href="#">
                        <i
                          class="fa-solid fa-circle-user fa-md fa-fw mr-2 text-gray-400"
                        ></i>
                        Minha conta
                      </a>

                      <a class="dropdown-item" href="#">
                        <i
                          class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"
                        ></i>
                        Relatório
                      </a>

                      <a
                        class="dropdown-item"
                        href="#"
                        data-toggle="modal"
                        data-target="#logoutModal"
                      >
                        <i
                          class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"
                        ></i>
                        Sair
                      </a>
                    </div>
                  </li>
                </ul>
              </div>

              <!-- Esse nav é do profile-->
              <div class="d-none d-lg-block">
                <ul class="navbar-nav">
                  <!-- Nav Item - Alerts -->
                  <li class="nav-item dropdown no-arrow mx-1">
                    <a
                      class="nav-link dropdown-toggle"
                      href="#"
                      id="alertsDropdown"
                      role="button"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      <i class="fas fa-bell fa-fw"></i>
                      <!-- Counter - Alerts -->
                      <span class="badge badge-danger badge-counter">1</span>
                    </a>
                    <!-- Dropdown - Alerts -->
                    <div
                      class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                      aria-labelledby="alertsDropdown"
                    >
                      <h6 class="dropdown-header">Notificações</h6>
                      <a
                        class="dropdown-item d-flex align-items-center"
                        href="#"
                      >
                        <div class="mr-3">
                          <div class="icon-circle bg-primary">
                            <i class="fas fa-file-alt text-white"></i>
                          </div>
                        </div>
                        <div>
                          <div class="small text-gray-500">
                            Dezembro 12, 2025
                          </div>
                          <span class="font-weight-bold"
                            >Aula para o dia 12 está perto de acontecer, se
                            organize!</span
                          >
                        </div>
                      </a>
                      <a
                        class="dropdown-item text-center small text-gray-500"
                        href="#"
                        >Mostrar todas as notificações</a
                      >
                    </div>
                  </li>

                  <!-- Nav Item - Messages -->
                  <li class="nav-item dropdown no-arrow mx-1">
                    <a
                      class="nav-link dropdown-toggle"
                      href="#"
                      id="messagesDropdown"
                      role="button"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      <i class="fas fa-envelope fa-fw"></i>
                      <!-- Counter - Messages -->
                      <span class="badge badge-danger badge-counter">1</span>
                    </a>
                    <!-- Dropdown - Messages -->
                    <div
                      class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                      aria-labelledby="messagesDropdown"
                    >
                      <h6 class="dropdown-header">Mensagens</h6>
                      <a
                        class="dropdown-item d-flex align-items-center"
                        href="#"
                      >
                        <div class="dropdown-list-image mr-3">
                          <img
                            class="rounded-circle"
                            src="../static/assets/undraw_profile.svg"
                            alt="..."
                          />
                          <div class="status-indicator bg-success"></div>
                        </div>
                        <div class="font-weight-bold">
                          <div class="text-truncate">
                            Bom dia professor! Quero que o senhor reveja minhas
                            paginas da aula anterior, por favor!
                          </div>
                          <div class="small text-gray-500">
                            Jonas Sousa · 3 hr
                          </div>
                        </div>
                      </a>
                      <a
                        class="dropdown-item text-center small text-gray-500"
                        href="#"
                      >
                        Ler mais mensagens
                      </a>
                    </div>
                  </li>

                  <!-- Nav Item - User Information -->
                  <li class="nav-item dropdown no-arrow">
                    <a
                      class="nav-link dropdown-toggle"
                      href="#"
                      id="userDropdown"
                      role="button"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      <span class="mr-2 d-none d-lg-inline text-gray-600 small"
                        >Usuario Professor</span
                      >
                      <img
                        class="img-profile rounded-circle"
                        src="../static/assets/undraw_profile.svg"
                      />
                    </a>
                    <!-- Dropdown - User Information -->
                    <div
                      class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                      aria-labelledby="userDropdown"
                    >
                      <a class="dropdown-item" href="#">
                        <i
                          class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"
                        ></i>
                        Perfil
                      </a>
                      <a class="dropdown-item" href="#">
                        <i
                          class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"
                        ></i>
                        Relatório
                      </a>
                      <div class="dropdown-divider"></div>
                      <a
                        class="dropdown-item"
                        href="#"
                        data-toggle="modal"
                        data-target="#logoutModal"
                      >
                        <i
                          class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"
                        ></i>
                        Sair
                      </a>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
            
            <!--informaçoes cards-->
            <div class="card_informacoes_basicas d-flex  justify-content-center">


                 <!-- card do (ID) da sala -->
                 <div class="card mb-4 py-3 border-left-primary mr-2 w-25">   
                    <div class="card-body ">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    ID da aula</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">#89739288</div>
                            </div>
                            <div class="col-auto">
                                <i class="fa-id-badge fa-regular fa-2x text-gray-650"></i>                            </div>
                        </div>
                    </div>
                </div>

                <!-- card da (Data de Criação) da sala -->
                <div class="card mb-4 py-3 border-left-primary mr-2 w-25">    
                    <div class="card-body ">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    Data de criação</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">08/09/2025</div>
                            </div>
                            <div class="col-auto"> 
                                <i class="fa-regular fa-calendar fa-2x text-gray-650"></i>
                            </div>
                        </div>
                    </div>
                </div>    

                <!-- card da (Data de Criação) da sala -->
                <div class="card mb-4 py-3 border-left-primary w-25">    
                    <div class="card-body ">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    Última vez utilizada</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">15/12/2025</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-calendar fa-2x text-gray-650"></i>       
                             </div>
                        </div>
                    </div>
                </div>    


            </div><!-- fim do cards informçoes basicas -->

            <!--descrriçao e titulo da aula-->
            <div class="Descriçao da aula w-75 mx-auto">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary"> Aula: Desenvolvimento Web Html</h6>
                    </div>
                    <div class="card-body">
                        <p>Esta aula de demonstração tem como objetivo fornecer uma compreensão fundamental do HTML (Linguagem de Marcação de HiperTexto), 
                            que é o bloco de construção mais básico e essencial para a criação de páginas web. Os participantes aprenderão a estrutura
                            básica de um documento web e como utilizar as tags principais para dar 
                            significado e estrutura ao conteúdo digital.
                            <p>Objetivos de Aprendizagem
                            Ao final desta demonstração, os participantes serão capazes de:
                            <p>Compreender o papel do HTML no desenvolvimento web, em conjunto com CSS e JavaScript.
                            <p>Criar a estrutura básica de uma página web, incluindo as tags.
                        <p>Utilizar tags de texto comuns, como títulos, parágrafos e quebras de linha.
                            Adicionar elementos multimídia básicos, como linke imagens.</p>
                        
                    </div>
                </div>
            </div><!--fim da descricao da aula--> 





            <!--informaçoes gerais-->
            <div>
                <!-- Este novo contêiner gerencia a largura e a centralização das linhas e colunas 2x2 -->
                <div class="w-75 mx-auto"> 
                       
                    <h1 class="h3 mb-3 text-gray-800 ">Informaçoes Gerais</h1><!--titulo-->
                        

                    <!--row-->
                    <div class="row">

                        <!--card Quantidade de alunos -->
                        <div class="col-xl-6 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Quantidade de alunos</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">26</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fa-solid fa-person fa-2x text-gray-450"></i>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--card numero de questoes -->
                        <div class="col-xl-6 col-md-6 mb-4">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                                Número de paginas
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">15</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fa-solid fa-pen fa-2x text-gray-450"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--card com barra de progresso, taxa media de acertos -->
                       

                        <!-- card submissoes feitas -->
                        <div class="col-xl-6 col-md-6 mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                                Submissões feitas</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fa-solid fa-paper-plane fa-2x text-gray-450"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                         <!-- teste -->
                        <div class="col-xl-6 col-md-6 mx-auto mb-4">
                            <div class="card border-left-dark shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-dark text-uppercase mb-1">
                                                Duração total</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">3h 45m</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fa-solid fa-clock fa-2x text-gray-450"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div><!--fim da row-->
                </div><!-- Fim do contêiner que gerencia a largura e a centralização das linhas e colunas 2x2 -->

            </div><!--FIM das informaçoes gerais-->







            <!-- tabela de participantes -->
            <div class="tabela_questoes mx-auto">
            
                <!-- titulo destacado azul -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Lista de paginas (exercícios)</h6>
                    </div>


                    <!-- tabela de participantes e questoes -->
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Nome da pagina</th>
                                        <th>Nível</th>
                                        <th>Linguagem permitida</th>
                                        <th>Submissões</th>
                                        <th>Opções</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <td>pagina 1 POO</td>
                                        <td>Médio</td>
                                        <td>C</td>
                                        <td>17</td>
                                          <!--botoes de ver e editar as questoes-->
                                          <td><button class="botoes_ver_editar btn btn-primary mb-1 mx-auto">Ver</button> <button class="botoes_ver_editar btn btn-primary">Editar</button> </td>
                                    </tr>
                                    <tr>
                                        <td>pagina 2 condicionais</td>
                                        <td>Facil</td>
                                        <td>python</td>
                                        <td>18</td>
                                          <!--botoes de ver e editar as questoes-->
                                          <td><button class="botoes_ver_editar btn btn-primary mb-1 mx-auto">Ver</button> <button class="botoes_ver_editar btn btn-primary">Editar</button> </td>
                                    </tr>
                                    <tr>
                                        <td>pagina 3 if</td>
                                        <td>Facil</td>
                                        <td>python</td>
                                        <td>13</td>

                                        <!--botoes de ver e editar as questoes-->
                                        <td><button class="botoes_ver_editar btn btn-primary mb-1 mx-auto">Ver</button> <button class="botoes_ver_editar btn btn-primary">Editar</button> </td>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>

            <!-- tabela de participantes -->
            <div class="tabela_questoes mx-auto">
            
                <!-- titulo destacado azul -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Lista de Alunos</h6>
                    </div>


                    <!-- tabela de participantes e questoes -->
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered id='dataTable' width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Alunos</th>
                                        <th>Entrou às</th>
                                        <th>Acertos</th>
                                        <th>Erros</th>
                                        <th>Submissões</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <td>João Gomes</td>
                                        <td>5h35m</td>
                                        <td>9</td>
                                        <td>4</td>
                                        <td>13</td>
                                    </tr>
                                    <tr>
                                        <td>Ana Maria</td>
                                        <td>4h28m</td>
                                        <td>5</td>
                                        <td>2</td>
                                        <td>7</td>
                                    </tr>
                                    <tr>
                                        <td>Joana Dark</td>
                                        <td>3h45m</td>
                                        <td>8</td>
                                        <td>2</td>
                                        <td>10</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.tabela_participantes -->
    
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/startbootstrap-sb-admin-2@4.1.4/js/sb-admin-2.min.js"> </script>
   
    


        <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="js/demo/datatables-demo.js"></script>
</body>
</html>