<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevRápido</title>
</head>
<body>
    <div class="principal-container">
        <header>
            <ul class="cabecalho">
                <li><img class="logo" src="../static/images/logo_ifce.png" alt="Logo IFCE"></li>
            </ul>
        </header>
        <nav>

        </nav>
        <main>
            <article>

            </article>
            <section>

            </section>
            <aside>

            </aside>
        </main>
        <footer></footer>
    </div>
</body>
</html>