<!-- Pagina base para apresentação de conteudo ao aluno -->
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template Base</title>

    <!-- CSS -->
    <link href="../static/css/style.css" rel="stylesheet">

    <!-- Template Bootstrap (CSS/Icons) -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/startbootstrap-sb-admin-2@4.1.4/css/sb-admin-2.min.css" rel="stylesheet">

    <style>
        
    </style>
</head>

<body class="overflow-hidden">
    <!-- Container principal -->
    <div class="container-fluid vh-100 p-0">
        <div class="row h-100 g-0">  
            <!-- Area de exibição -->
            <div class="col-8 dark-gray-bg overflow-auto border-end p-3 h-100">
                <div class="container marine-green d-flex justify-content-between">
                    <h3>Pagina 1</h3>
                    <p>Aula de Ola Mundo</p>
                </div>

                <div class="container border border-primary rounded dark-navy-blue-bg"">
                    <div class="row">
                        <div class="col-12 p-3 ">
                            <!-- HTML deve ser colocado aqui do banco de dados -->
                            <!-- HTML exemplo -->
                            <html>
                                <body>
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="card h-100">
                                                <div class="card-body">
                                                    <h5 class="card-title">Descrição do Problema</h5>
                                                    <p class="card-text">
                                                        Escreva um programa que exiba a mensagem "Olá, Mundo!" na tela.
                                                    </p>
                                                    <p class="card-text">
                                                        <strong>Instruções:</strong><br>
                                                        • Use console.log() para exibir a mensagem<br>
                                                        • A mensagem deve ser exatamente: "Olá, Mundo!"<br>
                                                        • Clique em "Executar Código" para testar
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    
                                    </div>
                                </body>
                            </html>
                        </div>
                    </div>
                </div>

                
                <!-- Area de código -->
                <div class="col-4">
                    
                </div>
            </div>
        </div>


    <!-- Template Bootstrap (JS) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/startbootstrap-sb-admin-2@4.1.4/js/sb-admin-2.min.js"></script>
</body>

</html>